* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: white;
  --black: #000000;
  --dark-green: #1e3932;
  --green: #008248;
  --light-green: #d4e9e2;
  --coffee-brown: #f3f1e7;
  --resume-blue: #f1f8f6;
}
