* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --alto: #d9d9d9;
  --wild-sand: #f6f5f5;
  --bridal-heath: #fffaf0;
  --web-orange: #ffa800;
  --tundora: #474141;

  --fuel-yellow: #eaa72c;
  --white: #ffffff;
  --black: #000000;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Header Styles */

header {
  background-color: var(--white);
  display: flex;
  gap: 1rem;
  /* border: 4px solid; */
  padding: 0.8rem;
  height: 105px;
}

.logo-name {
  display: flex;
  align-items: center;
  font-size: larger;
}

.logo-name img {
  padding-left: 3rem;
  padding-right: 0.5rem;
  width: 40%;
}

#nav_bar {
  display: flex;
  padding-left: 1rem;
}
.nav-bar {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
  justify-content: center;
}

nav a {
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
}

#nav_sign_in {
  display: flex;
  justify-content: right;
  margin-left: auto;
  padding-right: 6rem;
}

.nav-sign-in {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
  font-size: larger;
}

header button {
  padding: 0.5rem 0.8rem;
  border-radius: 50px;
  background-color: var(--black);
  color: var(--white);
}

/* Section 1 styles */

.page-bar {
  background-color: var(--dark-green);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5rem;
}

.page-bar h4 {
  color: var(--white);
}

.join-now-section {
  background-color: #d5e9e3;
  height: 800px;
  width: auto;
}

/* Section 2 styles */

/* Section 3 styles */
.points-container {
  background-color: var(--light-brown);
  display: flex;
  flex-direction: column;

  row-gap: 2rem;
  padding-top: 2rem;
}

.points-container h2 {
  color: var(--black);
  font-weight: 600;
  font-size: 2.4rem;
  text-align: center;
}

.numbers-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}

.numbers-container a {
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
  font-size: 1.4rem;
}
.numbers-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  max-width: 120px;
  flex: 1;
}
.slider {
  height: 4px;
  background-color: var(--green);
  width: 100%;
  display: none;
}

.slider-display {
  display: block;
}

.small-start {
  color: var(--gold);
  font-size: 0.9rem;
}
/* Section 4 styles */
.drinks-container {
  background-color: var(--light-green);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
  padding-block: 2rem;
}
.espresso-pic {
  max-width: 375px;
}

.drink-options-info h2 {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 600;
}
.drink-options-info p {
  max-width: 40ch;
  margin-top: 1rem;
  color: var(--black);
  font-size: 1rem;
  font-weight: 400;
}
/* Section 5 styles */
.extras-container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 5rem;
  row-gap: 1rem;
}

.extras-container h2 {
  color: var(--black);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.extras-container p {
  color: var(--black);
  max-width: 80ch;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
.extras-options {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

.extras-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.8rem;
}
.extras-item-pic {
  max-width: 112px;
  margin-top: 1.5rem;
}

.extras-item h3 {
  color: var(--black);
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}
.extras-item p {
  max-width: 40ch;
  color: var(--black);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.extras-item a {
  color: var(--dark-green);
  font-size: 1rem;
  text-align: center;
}

.extras-item a:hover {
  text-decoration: none;
}

/* Section 6 styles */

/* Footer Styles */

/* Media Query Styles */
